{# Global primary menu (navigation) template. #}

{% if primary_nav %}
  <ul>
    {% for item in items %}
      <li class="{{ item.classes | join(' ') }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
        {% include 'partials/nav-primary.twig' with { 'items': item.children } %}
      </li>
    {% endfor %}

  </ul>
{% endif %}
