{# Global page header template. #}

<header>
  <div class="header-container">
    {% if is_home %}
      <h1 class="header-logo">
    {% else %}
      <div class="header-logo">
    {% endif %}

        <a href="{{ site.url }}">
          <img src="{{ site.theme.link }}/assets/images/logo.png" alt="Site Logo">
        </a>

    {% if is_home %}
      </h1>
    {% else %}
      </div>
    {% endif %}

    <div id="search">
      {{ search }}
    </div>

    <button id="nav-show">Menu</button>
  </div>

  <nav class="primary-nav" aria-label="Primary menu">
    <div id="nav-hide">
      <button aria-label="Close navigation menu">Close</button>
    </div>

    {% include 'partials/nav-primary.twig' with { 'items': primary_nav.get_items } %}
  </nav>
</header>
